<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/jpg" href="https://images.squarespace-cdn.com/content/v1/5d2b826185ed9900018b84c6/1567473306152-BVKD1G1S4M2RL79PQ3SY/favicon.ico?format=100w"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@100&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/styles.css">
    <title>Unleash the Archers</title>
</head>
<body>
    <div class="container-fluid p-0">
        <nav class="navbar justify-content-center">
            <div>
                <a href="/" class="justify-content-center d-none d-lg-block">
                    <img src="images/UTA+Logo+Smoke.png"  alt="UTA logo" class="navLogoImg">
                </a>
            
                <li class="nav-item dropdown  d-lg-none d-xl-none nav-links">
                    <a class="nav-item-menu dropdown-toggle" href="/" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="images/UTA+Logo+Smoke.png" alt="UTA logo" class="navLogoImg">
                    </a>
                    <ul class="dropdown-menu bg-black" aria-labelledby="navbarDropdown">
                        <li class="nav-item dropdown-item"><a href="/" aria-current="Home">HOME</a></li>
                        <li class="nav-item dropdown-item"><a href="/albums" id="searchHref">ALBUMS</a></li>
                        <li class="nav-item dropdown-item"><a href="#">ABOUT</a></li>
                        <li class="nav-item dropdown-item"><a href="#">CONTACT US</a></li>
                        <li class="nav-item dropdown-item"><a href="#">CHAT ROOM</a></li>
                    </ul>
                </li>
            
            </div>
            <div class="d-flex d-none d-lg-block ">
            <ul class="nav-links">
                <li class="nav-item"><a href="/" aria-current="Home">HOME</a></li>
                <li class="nav-item"><a href="/albums" id="searchHref">ALBUMS</a></li>
                <li class="nav-item"><a href="#">ABOUT</a></li>
                <li class="nav-item"><a href="#">CONTACT US</a></li>
                <li class="nav-item"><a href="#">CHAT ROOM</a></li>
            </ul>
            </div>
        <div class="clear"></div>
        </nav>
    ≈
        <!-- Albums -->
        <div class="col-sm-12">
            <article class="speakerslist ">
                <div class="container">
                    <div class="row album-card">
                        <% albums.forEach(albumObj => { %>

                        
                        <div class="col-sm-6">
                                <a href="/speakers/<%= albumObj.shortname %>">
                                    <img class="" src="/images/<%= albumObj.artwork%>" width="600px" height="600px" alt="Photo of <%= albumObj.albumname %>"></a>
                                    </div>

                                    <div class="col-sm-6 ">
                                    <h3 class=""><%= albumObj.albumname %> </h3>
                                            <%= albumObj.summary %>
                            
                        </div>
                        
                        <% }) %>
                        

                    </div><!-- row -->
                </div><!-- container -->
            </article>
        </div><!-- primary -->
    
    

    <footer class="container-fluid  mb-3 pb-2 row m-0 gx-0 d-flex align-items-bottom justify-content-center">
        <div class="row wide pb-2 pb-md-0 col-md-4 text-center">
            <div class="col-12">© Andrew Hatch 2021</div>
            <div class="col-12 nav-item"><a href="https://github.com/AMHatch/AlbumProject" class="" target="_blank"> Github <i class="fab fa-github-square"></i></a></div>
            
        </div>
</footer>
</div>
<script src="https://kit.fontawesome.com/b5578a43de.js" crossorigin="anonymous"></script>
</body>
</html>